.todo-list-item div:nth-child(1){
  border-radius: 10px !important;
}
.text-item{
  font-size: 18px !important; 
  color: white;
}
.text-item::before{
  box-sizing: unset;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid white !important;
    border-radius: 1px;
    margin-top: 3px;
    transition: .2s;
}
[type="checkbox"]:checked+span:not(.lever):before{
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #82E0AA  !important;
    border-bottom: 2px solid #82E0AA !important;
    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}